@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
/*Burak degisiklik burada yapti*/
body {
    background-color: rgba(217, 217, 217, 0.30);
    font-family: "Bai Jamjuree", sans-serif;
}


/* index.html = login sayfası ve register.html sayfasının css kodları */
.index-body
{
    display: flex;
    background-color: #5D1D88;
}

.left-side {
    flex: 1;
    background-color: #5D1D88;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    min-height: 100vh;
}

.content {

    color: white;
    width: 60%;
    height: 65%;
    border-radius: 30px;
    background-color:  rgba(217, 217, 217, 0.30);
}

.input-container {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.input-form-container input
{
    width: 80%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.input-container input {
    width: 80%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.input-container button {
    width: 80%;
    margin-top: 3%;
    padding: 10px;
    box-shadow: 0px -1.4782986640930176px 2.956597328186035px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
    background: #5D1D88;
    color: white;
    cursor: pointer;
}

.input-container button:hover {
    background-color: white;
    border: 1px solid #252f94;
    color: black;
}

.content h1 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}


/* index.html = login sayfası ve register.html sayfasının css kodları sonu*/



/* navbar css*/
.navbar{
    width: 100%;
    height: auto; 
    position: fixed;
    top: 0; 
    background-color: #5D1D88;
    z-index: 1000;
}

.navbar-container
{
    background-color: #5D1D88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: auto;
}

.navbar-container img.logo {
    margin-left: 2%;
    max-width: 150px;
    height: auto;
}

.navbar-container img.game-logo {
    max-width: 100px;
    height: 40px;
}

.navbar-container img.profile-img {
    max-width: 40px;
    height: auto;
    margin-right: 2%;
}

/* navbar css son */


/* board template css */

.games-page
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    overflow-y: auto;
}
.game-template
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.board-template
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
	width: 100%; /* Ekran genişliğinin 90% kadar genişlik */
    height: auto; /* Yüksekliği otomatik ayarla, orantıyı koru */
    max-width: 1003px; /* Maksimum genişlik belirtilen değer kadar olabilir */
    max-height: 508px; /* Maksimum yükseklik belirtilen değer kadar olabilir */
}
.board-template h2
{
   margin-left : 5%;
}

.board
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120%;
    padding: 5%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
}

.board-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.board a {
    max-width: 100%;
    max-height: 100%; 
}

.board img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.question-mark
{
    display: flex;
    max-height: 20%;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #5D1D88;
	border-radius: 10px;
}

.users-board
{
    display: flex;
    height: 70%;
    padding: 0 5% 6% 5%;
    margin-right: 5.5%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border-radius: 40px;
    color: white;
	line-height: 2;
}

.users-board-settings
{
    display: flex;
    height: 70%;
    padding: 0 5% 6% 5%;
    margin-right: 2.5%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5D1D88;
    border-radius: 40px;
    color: white;
}

.users-board-settings img
{
    width: 30%;
    height: auto;
}

.nick-create
{
    display: flex;
    padding: 5%;
    margin-top: 5%;
    flex-direction: column;
    border: 1px solid #5D1D88;
    border-radius: 30px;
    width: 100%;
}

.nick-create input
{
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.nick-create button
{
    width: 100%;
    margin-top: 3%;
    padding: 10px;
    align-items: center;
    box-shadow: 0px -1.4782986640930176px 2.956597328186035px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
    background: #5D1D88;
    color: white;
    cursor: pointer;
}

.user-settings-box {
    width: 70%;
    margin: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-family: "Bai Jamjuree", sans-serif;
}

.user-settings-box h2 {
    text-align: center;
    color: #333;
}



.user-settings-form {
    display: flex;
    flex-direction: column;
}

.user-settings-form label {
    margin-top: 10px;
    color: #5D1D88;
    font-family: "Bai Jamjuree", sans-serif;
}

.user-settings-form input, select {
    padding: 1.5%;
    color:#5D1D88;
    border-radius: 30px;
    margin: 5px 0;
    font-family: "Bai Jamjuree", sans-serif;
}

.settings-button {
    margin-top: 5%;
    font-family: "Bai Jamjuree", sans-serif;
    background-color: #5D1D88;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(217, 217, 217, 0.30);
    border: 2px solid #5D1D88;
    color: #5D1D88;
}


.profile-page
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh; 
    overflow-y: auto;
}

.match-board-settings
{
    display: flex;
    height: 90%;
    margin-right: 2.5%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    color: white;
}

.match-history-pong-info
{
    display: flex;
    padding: 0 5% 6% 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
}

.match-history-headortails-info
{
    display: flex;
    padding: 0 5% 6% 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
}

.match-history-pong-info img
{
    width: 30%;
    height: auto;
}
.match-history-headortails-info img
{
    width: 30%;
    height: auto;
}

.write-caption {
    text-align: center; /* Metni yatayda ortala */
    margin: auto; /* Metni dikeyde ortala */
    /* İhtiyaca göre diğer stil özelliklerini ekleyebilirsiniz */
	color: white;
}

.left-right
{
    display: flex;
    padding: 5%;
    margin-top: 5%;
    flex-direction: row;
    border: 1px solid #5D1D88;
    border-radius: 30px;
    width: 100%;
}

.left-right input
{
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.left-right button
{
    width: 100%;
    margin-top: 3%;
    padding: 10px;
    align-items: center;
    box-shadow: 0px -1.4782986640930176px 2.956597328186035px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
    background: #DD9D18;
    color: white;
    cursor: pointer;
}

.online-dot-online {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3BE200;
    margin-right: 3px; /* Noktadan önce bir boşluk bırak */
}

.online-dot-offline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #756565;
    margin-right: 3px; /* Noktadan önce bir boşluk bırak */
}

.scrollbox {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-right: 10px;
	visibility: hidden;
}

.scrollbox-inner,
.scrollbox:hover {
	visibility: visible;
}

.scrollbox-inner p {
	margin: 0;
	padding: 0;
}

main.table {
	margin-top: 10px;
	width: 82vw;
	height: 90vh;
	background-color: #fff5;
	
	max-width: 800px;
	backdrop-filter: blur(7px);
	box-shadow: 0 .4rem .8rem #0005;
	border-radius: .8rem;

	overflow: hidden;
}

.table__header {
	width: 100%;
	height: 3%;
	background-color: #fff4;
	padding: .8rem 1rem;
}

.table__body {
	width: 100%;
	max-height: calc(89% - .8rem);
	background-color: #fffb;

	margin: .11rem auto;
	border-radius: .6rem;

	overflow: auto;
}

.table__body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: #0004;
	visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb	{
	visibility: visible;
}

table {
	width: 100%;
}

table, th {
	border-collapse: collapse;
	padding: 1rem;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}