@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
/*Burak degisiklik burada yapti*/
body {
    background-color: rgba(217, 217, 217, 0.30);
    font-family: "Bai Jamjuree", sans-serif;
}

/* tahanın denemesi */
/* index.html = login sayfası ve register.html sayfasının css kodları */
.index-body
{
    display: flex;
    background-color: #5D1D88;
}

.left-side {
    flex: 1;
    background-color: #5D1D88;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.left-side img {
	width: 37%;
	height: auto;
}

.dual-container {
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
}

.top-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.bottom-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-write {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FDB827;
	font-size: 16px;
	font-family: "Bai Jamjuree", sans-serif;
	line-height: 0.3;
}

.first-line {
    font-size: 40px; /* İlk satırın font boyutu */
	line-height: 0.8; 
}

.person-line {
    font-size: 18px; /* İlk satırın font boyutu */
	line-height: 1.2; 
}

.person-line img,
.person-line span {
    display: inline-block;
    vertical-align: middle;
}

.inline-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inline-text p {
    margin-right: 26px; /* İstenilen boşluk miktarını ayarlayın */
}

.right-side {
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    min-height: 100vh;
}

.content {

    color: white;
    width: 60%;
    height: 65%;
    border-radius: 30px;
    background-color:  rgba(217, 217, 217, 0.30);
}

.input-container {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.input-form-container input
{
    width: 80%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.input-container input {
    width: 80%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.input-container button {
    width: 80%;
    margin-top: 3%;
    padding: 10px;
    box-shadow: 0px -1.4782986640930176px 2.956597328186035px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
    background: #5D1D88;
    color: white;
    cursor: pointer;
}

.input-container button:hover {
    background-color: white;
    border: 1px solid #252f94;
    color: black;
}

.content h1 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}


/* index.html = login sayfası ve register.html sayfasının css kodları sonu*/



/* navbar css*/
.navbar{
    width: 100%;
    height: auto; 
    position: fixed;
    top: 0; 
    background-color: #5D1D88;
    z-index: 1000;
}

.navbar-container
{
    background-color: #5D1D88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin: auto;
}

.navbar-container img.logo {
    margin-left: 2%;
    max-width: 150px;
    height: auto;
}

.navbar-container img.game-logo {
    max-width: 100px;
    height: 40px;
}

.navbar-container img.profile-img {
    max-width: 40px;
    height: auto;
    margin-right: 2%;
}

/* navbar css son */


/* board template css */

.games-page
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    overflow-y: auto;
}
.game-template
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.board-template
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
	width: 90%; /* Ekran genişliğinin 90% kadar genişlik */
    height: auto; /* Yüksekliği otomatik ayarla, orantıyı koru */
    max-width: 700px; /* Maksimum genişlik belirtilen değer kadar olabilir */
    max-height: auto; /* Maksimum yükseklik belirtilen değer kadar olabilir */
}
.board-template h2
{
   margin-left : 5%;
}

.board
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
}

.board-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.board-column img {
	margin-bottom: 10px;
}

.board a {
    max-width: 100%;
    max-height: 100%; 
}

.board img {
    width: 70%;
    height: auto;
}

.question-mark
{
    display: flex;
    max-height: 20%;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #5D1D88;
	border-radius: 10px;
}

.users-board
{
    display: flex;
    height: 90%;
    margin-right: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9A9797;
    border-radius: 40px;
    color: #5D1D88;
	padding: 3% 5% 3% 5%;
	margin-top: 30px; /* Üst kenara 20 piksel girinti ekleyin, ihtiyaca göre ayarlayabilirsiniz */
    margin-left: 30px;
    margin-bottom: 60px;
}

.users-board img
{
	width : 55%;
	border-radius: 50%;
}

.nick-create
{
    display: flex;
    padding: 5%;
    margin-top: 5%;
    flex-direction: column;
    border: 1px solid #5D1D88;
    border-radius: 30px;
    width: 100%;
}

.nick-create input
{
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

#sadecebu
{
	display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nick-create button
{
    width: 100%;
    margin-top: 3%;
    padding: 10px;
    align-items: center;
    box-shadow: 0px -1.4782986640930176px 2.956597328186035px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
    background: #5D1D88;
    color: white;
    cursor: pointer;
}

.user-settings-box {
    width: 70%;
    margin: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-family: "Bai Jamjuree", sans-serif;
}

.user-settings-box h2 {
    text-align: center;
    color: #333;
}



.user-settings-form {
    display: flex;
    flex-direction: column;
}

.user-settings-form label {
    margin-top: 10px;
    color: #5D1D88;
    font-family: "Bai Jamjuree", sans-serif;
}

.user-settings-form input, select {
    padding: 1.5%;
    color:#5D1D88;
    border-radius: 30px;
    margin: 5px 0;
    font-family: "Bai Jamjuree", sans-serif;
}

.settings-button {
    margin-top: 5%;
    font-family: "Bai Jamjuree", sans-serif;
    background-color: #5D1D88;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(217, 217, 217, 0.30);
    border: 2px solid #5D1D88;
    color: #5D1D88;
}


.profile-page
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh; 
    overflow-y: auto;
}

.match-board-settings
{
    display: flex;
    height: 90%;
    margin-right: 2.5%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    color: white;
}

.match-history-pong-info
{
    display: flex;
    padding: 0 5% 6% 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
}

.match-history-headortails-info
{
    display: flex;
    padding: 0 5% 6% 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5D1D88;
    border: 1px solid #5D1D88;
    border-radius: 30px;
}

.match-history-pong-info img
{
    width: 30%;
    height: auto;
}
.match-history-headortails-info img
{
    width: 30%;
    height: auto;
}

.write-caption {
    text-align: center; /* Metni yatayda ortala */
    margin: auto; /* Metni dikeyde ortala */
    /* İhtiyaca göre diğer stil özelliklerini ekleyebilirsiniz */
	color: white;
}

.left-right
{
    display: flex;
    padding: 5%;
    margin-top: 5%;
    flex-direction: row;
    border: 1px solid #5D1D88;
    border-radius: 30px;
    width: 100%;
}

.left-right input
{
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDB827;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
}

.left-right button
{
    width: 100%;
    margin-top: 3%;
    padding: 10px;
    align-items: center;
    box-shadow: 0px -1.4782986640930176px 2.956597328186035px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Bai Jamjuree", sans-serif;
    background: #DD9D18;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s, background 0.1s; /* Geçiş süresini belirlemek için */

    /* :hover seçici ile mouse üzerine gelindiğinde değişiklik yap */
    &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        border: 2px solid #7E4B9B; /* Kenar kalınlığını artırmak için */
        background: #7E4B9B; /* Hover efekti için arkaplan rengini değiştir */
    }
}

.online-dot-online {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3BE200;
    margin-right: 3px; /* Noktadan önce bir boşluk bırak */
}

.online-dot-offline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #756565;
    margin-right: 3px; /* Noktadan önce bir boşluk bırak */
}

.scrollbox {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-right: 10px;
	visibility: hidden;
}

.scrollbox-inner,
.scrollbox:hover {
	visibility: visible;
}

.scrollbox-inner p {
	margin: 0;
	padding: 0;
}

main.table {
	margin-top: 10px;
	width: 82vw;
	height: 90vh;
	background-color: #fff5;
	
	max-width: 800px;
	backdrop-filter: blur(7px);
	box-shadow: 0 .4rem .8rem #0005;
	border-radius: .8rem;

	overflow: hidden;
}

.table__header {
	width: 100%;
	height: 3%;
	background-color: #fff4;
	padding: .8rem 1rem;
}

.table__body {
	width: 100%;
	max-height: calc(89% - .8rem);
	background-color: #fffb;

	margin: .11rem auto;
	border-radius: .6rem;

	overflow: auto;
}

.table__body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: #0004;
	visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb	{
	visibility: visible;
}

table {
	width: 100%;
}

table, th {
	border-collapse: collapse;
	padding: 1rem;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

.kutu {
	width: 240px; /* Genişlik değeri px birimini içermelidir. */
	height: 240px; /* Yükseklik değeri px birimini içermelidir. */
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
	border: 10px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white; /* Metin rengini ekledim, tamamen isteğe bağlıdır. */
}

.touch-box {
	width: 240px; /* Genişlik değeri px birimini içermelidir. */
	height: 240px; /* Yükseklik değeri px birimini içermelidir. */
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
	border: 10px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white; /* Metin rengini ekledim, tamamen isteğe bağlıdır. */
	cursor: pointer;
}

/* Bootstrap hover ve active efektleri (Mouse sürükleyince renk değişimi) */
.touch-box:hover,
.touch-box:active {
	border-color: #FDB827; 
	box-shadow: 0 0 10px rgba(93, 29, 136, 0.8);
}

.up-user-board {
	display: flex;
	height: 70%;
	padding-right: 6%;
}

.pong-logo-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rounded-circle {
	border-radius: 50%;
	overflow: hidden;
}

.rounded-circle img {
	width: 40px; /* İstenilen genişlik */
	height: 40px; /* İstenilen yükseklik */
	object-fit: cover;
}

.cardy {
    display: flex;
    align-items: center;
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
	flex-direction: column;
    border-radius: 25px; /* Köşe yarıçapını istediğiniz değere ayarlayın */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #abaaaa; /* Gri rengi istediğiniz gri tonuyla değiştirin */
	justify-content: center;
	align-items: center;
	padding: 3% 5% 3% 5%;
	margin-top: 30px; /* Üst kenara 20 piksel girinti ekleyin, ihtiyaca göre ayarlayabilirsiniz */
    margin-left: 30px;
    margin-bottom: 60px;
}



.card-title {
	font-weight: bold;
	font-size: 1.1em;
}

.cardy-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 30px;
}

.btn-primary {
	border-radius: 2em;
	padding: .5em 1em;
}

.profil-online {
	font-family: "Bai Jamjuree", sans-serif;
	align-items: center;
}

.list-group-item {
	font-family: "Bai Jamjuree", sans-serif;
	font-weight: bold;
	font-size : 14px;
}

.inner-card {
    width: 210px;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: left; /* Metni sola hizala */
	margin: 10px;
	padding: 10px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.base-profil-line {
	display: flex;
}

.statistics-row {
	flex-direction: column;
}

.green-write {
	color: #3BE200;
	text-align: center; /* Metni yatayda ortala */
    margin: auto; /* Metni dikeyde ortala */
    /* İhtiyaca göre diğer stil özelliklerini ekleyebilirsiniz */
	font-size: small;
}

.genel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.rounded-profile {
	display: block; /* inline yerine block kullanılmalı */
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-image: initial;
	overflow: hidden; /* Çerçeve dışındaki kısmı kesmek için overflow kullanılmalı */
}

.scrollable-table-container {
	max-height: 220px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden; /* Horizontal kaydırmayı devre dışı bırak */
	border: 1px solid #ddd; /* Kenarlık ekleyin */
	border-radius: 20px; /* Köşeleri oval yap */
	margin: 3%;
  }

  .scrollable-table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 20px; /* Köşeleri oval yap */
	overflow: hidden; /* İçerik köşeleri aşarsa gizle */
  }

  .scrollable-table th {
	padding: 12px 15px;
	border-bottom: 1px solid #ddd;
	background-color: #f3f3f3;
  }

  .scrollable-table td {
	padding: 12px 15px;
	border-bottom: 1px solid #ddd;
  }

.tables {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.table-top-photo img {
	display: block;
	margin: 0 auto;
}

.users-board-settings {
	display: block;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.onl-profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: "Bai Jamjuree", sans-serif;
	margin-top: 0;
    margin-bottom: 0;
}

.profile-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 3%;
	padding: 2%;
}

.profile-buttons button {
    margin-right: 2%; /* İstediğin kadar bir sağ mesafe ekleyebilirsin */
}

.btn {
    /* --bs-btn-padding-x: 0.75rem; */
    /* --bs-btn-padding-y: 0.375rem; */
    --bs-btn-font-size: 1rem !important;
    --bs-btn-font-weight: 250 !important;
    --bs-btn-line-height: 1 !important;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: 0.875rem !important;
	padding: 0.25rem 0.5rem !important;
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	white-space: nowrap !important;
}

.cardy.settings-clicked {
	border: 3px solid #07ff72;
}

.cardy.remove-friend-clicked {
	border: 3px solid #e20000;
}

.cardy.match-request-from-profile {
	border: 3px solid #5D1D88;
} 